.order_form {
    width: 620px;
    max-width: 80%;
    height: auto;
    margin: 30px auto 40px;
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  .table {
    width: 580px;
    margin: 0px auto;
  }
  .order_form form {
    width: 400px;
    max-width: 80%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
  }
  .order_form form input {
    width: 100%;
    height: 35px;
    border-radius: 10px;
    /* border: none;
    outline: none; */
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
    margin: 10px;
    padding-left: 10px;
  }
  .order_form form div {
    width: 100%;
    display: flex;
  }
  .order_form Button {
    width: auto;
    height: 35px;
    /* border: none; */
    /* border-radius: 10px; */
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
    margin: 10px 0 0 0; 
  }